* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../assets/img/background.jpg");
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  padding: 2rem;
  height: 100vh;
}
